:root{
    --primary-color:#663128;
    --secondary-color: #7C4032;
    --button-color: #F3CE5E;
    --text-section-color: #333333;
    --title-section-color: #FFFFFF;
    --background-color:#FEF4DE;
    --contact-button-color: #E6AF99;
    --footer-color:#55352D





    
   
   
    



}